body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #ade8f4;
  font-size: 2rem;
  height: 6vh;
}

.welcome-header {
  text-align: center;
  font-size: 1.5rem;
}

/* ALL CUSTOMER VIEW CLASSES */
.user-future-bookings {
  display: flex;
  overflow: auto;
}

.booking-image {
  width: 30vw;
}

.future-booking {
  text-align: right;
  width: 32vw;
  margin: 3vw;
}

.user-past-bookings {
  display: flex;
  overflow: auto;
}

.past-booking {
  text-align: center;
  margin: 2vw;
  background-color: #ade8f4;
  padding: 2vh 3vw;
}

/* ALL AVAILABLE ROOMS CLASSES */
.available-rooms {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3vw;
  width: 9vw;
  height: 50vh;
  position: fixed;
  background-color: #ade8f4;
}

.filtered-rooms {
  display: flex;
  width: 85vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15vw;
}

/* MODAL CLASSES */
.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 80%);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
  /* overflow: hidden; */
}

.clicked-room {
  z-index: 3;
  height: 80vh;
  width: 60vw;
  overflow: auto;
}

.modal-image {
  width: 60vw;
}

.confetti-image {
  width: 40vw;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-size: 100% 100%;
}

.login-box {
  height: 60vh;
  width: 60vw;
  z-index: 11;
  color: white;
  border-radius: 3px;
  background-color: rgba(2 62 138 / 80%);
  text-align: center;
}

/* ALL UTILTY CLASSES */
.hidden {
  display: none;
}