body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: grey;
  font-size: 2rem;
}

.welcome-header {
  text-align: center;
  font-size: 1.5rem;
}

.booking-image {
  width: 30vw;
}

.future-booking {
  width: 32vw;
  background-color: aquamarine;
}

.past-booking {
  background-color: bisque;
}