body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: grey;
  font-size: 2rem;
  height: 6vh;
}

.welcome-header {
  text-align: center;
  font-size: 1.5rem;
}

.user-future-bookings {
  display: flex;
  overflow: auto;
}

.booking-image {
  width: 30vw;
}

.future-booking {
  width: 32vw;
  margin: 3vw;
  background-color: aquamarine;
}

.user-past-bookings {
  display: flex;
  overflow: auto;
}

.past-booking {
  text-align: center;
  margin: 2vw;
  background-color: bisque;
  padding: 2vh 3vw;
}